$color_1: var(--color-links);
$color_2: var(--color-links-hover);
$color_3: var(--color-secondary);
$color_4: var(--color-secondary-light);
$color_5: var(--color-white);
$color_6: var(--color-primary);
$color_7: rgba(var(--color-secondary-dark-rgb), 0.7);
$color_8: rgba(var(--color-white-rgb), 0.5);
$color_9: rgba(var(--color-white-rgb), 0.7);
$color_10: rgba(var(--color-secondary-rgb), 0.8);
$color_11: rgba(var(--color-primary-rgb), 0.8);
$color_12: rgba(var(--color-white-rgb), 0.98);
$color_13: rgba(var(--color-white-rgb), 0.8);
$color_14: var(--color-default);
$color_15: rgba(var(--color-white-rgb), 0.6);
$color_16: var(--color-yellow);
$color_17: var(--color-gray);
$color_18: rgba(var(--color-gray-rgb), 0.5);
$color_19: rgba(var(--color-secondary-rgb), 0.5);
$color_20: rgba(var(--color-gray-rgb), 0.8);
$color_21: rgba(var(--color-default-rgb), 0.4);
$color_22: rgba(var(--color-secondary-light-rgb), 0.8);
$color_23: var(--color-primary-light);
$font-family_1: var(--font-primary);
$font-family_2: var(--font-secondary);
$background-color_1: var(--color-primary);
$background-color_2: rgba(var(--color-white-rgb), 0.4);
$background-color_3: var(--color-white);
$background-color_4: rgba(var(--color-secondary-rgb), 0.06);
$background-color_5: var(--color-secondary);
$background-color_6: rgba(var(--color-secondary-rgb), 0.8);
$border-color_1: var(--color-primary);
$border-color_2: var(--color-secondary-light);
$border-color_3: rgba(var(--color-primary-rgb), 0.8);
$border-top-color_1: var(--color-white);

/**
* Check out variables.css for easy customization of colors, typography, and other repetitive properties
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@-webkit-keyframes animate-preloader {
	0% {
		width: 10px;
		height: 10px;
		top: calc(50% - 5px);
		left: calc(50% - 5px);
		opacity: 1;
	}
	100% {
		width: 72px;
		height: 72px;
		top: calc(50% - 36px);
		left: calc(50% - 36px);
		opacity: 0;
	}
}
@keyframes animate-preloader {
	0% {
		width: 10px;
		height: 10px;
		top: calc(50% - 5px);
		left: calc(50% - 5px);
		opacity: 1;
	}
	100% {
		width: 72px;
		height: 72px;
		top: calc(50% - 36px);
		left: calc(50% - 36px);
		opacity: 0;
	}
}
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Animated Hero Section
--------------------------------------------------------------*/
@-webkit-keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}
@keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}
/*--------------------------------------------------------------
# Carousel Hero Section
--------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes fadeInDownLite {
	from {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInDownLite {
	from {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
/*--------------------------------------------------------------
# Fullscreen Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Static Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# On Focus Section
--------------------------------------------------------------*/
@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Stylings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Home Posts List
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Details Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Home Pagination
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
&:root {
	scroll-behavior: smooth;
}
a {
	color: $color_1;
	text-decoration: none;
	&:hover {
		color: $color_2;
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_1;
}
h2 {
	font-family: $font-family_1;
}
h3 {
	font-family: $font-family_1;
}
h4 {
	font-family: $font-family_1;
}
h5 {
	font-family: $font-family_1;
}
h6 {
	font-family: $font-family_1;
}
#preloader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	overflow: hidden;
	background: var(--color-white);
	transition: all 0.6s ease-out;
	width: 100%;
	height: 100vh;
	&:before {
		content: "";
		position: absolute;
		border: 4px solid var(--color-primary);
		border-radius: 50%;
		-webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	&:after {
		content: "";
		position: absolute;
		border: 4px solid var(--color-primary);
		border-radius: 50%;
		-webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}
}
section {
	padding: 60px 0;
	overflow: hidden;
}
.section-header {
	text-align: center;
	padding-bottom: 40px;
	h2 {
		font-size: 48px;
		font-weight: 300;
		margin-bottom: 20px;
		color: $color_3;
	}
	p {
		margin: 0 auto;
		color: $color_4;
	}
}
.breadcrumbs {
	padding: 15px 0;
	background: rgba(var(--color-secondary-rgb), 0.05);
	min-height: 40px;
	margin-top: 76px;
	h2 {
		font-size: 30px;
		font-weight: 300;
		margin: 0;
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
		li+li {
			padding-left: 10px;
			&::before {
				display: inline-block;
				padding-right: 10px;
				color: $color_4;
				content: "/";
			}
		}
	}
}
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 995;
	background: var(--color-primary);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
	i {
		font-size: 24px;
		color: $color_5;
		line-height: 0;
	}
	&:hover {
		background: rgba(var(--color-primary-rgb), 0.85);
		color: $color_5;
	}
}
.scroll-top.active {
	visibility: visible;
	opacity: 1;
}
.header {
	padding: 15px 0;
	transition: all 0.5s;
	z-index: 997;
	.logo {
		img {
			max-height: 40px;
			margin-right: 6px;
		}
		h1 {
			font-size: 32px;
			font-weight: 300;
			color: $color_3;
			font-family: $font-family_2;
			span {
				color: $color_6;
				font-weight: 500;
			}
		}
	}
	.btn-getstarted {
		font-size: 16px;
		color: $color_5;
		background: var(--color-primary);
		padding: 8px 23px;
		border-radius: 4px;
		transition: 0.3s;
		font-family: $font-family_2;
		&:focus {
			font-size: 16px;
			color: $color_5;
			background: var(--color-primary);
			padding: 8px 23px;
			border-radius: 4px;
			transition: 0.3s;
			font-family: $font-family_2;
			&:hover {
				color: $color_5;
				background: rgba(var(--color-primary-rgb), 0.85);
			}
		}
		&:hover {
			color: $color_5;
			background: rgba(var(--color-primary-rgb), 0.85);
		}
	}
}
.header.sticked {
	background: var(--color-white);
	box-shadow: 0px 2px 20px rgba(var(--color-secondary-rgb), 0.1);
}
.hero-animated {
	width: 100%;
	min-height: 50vh;
	background: url("../img/hero-bg.png") center center;
	background-size: cover;
	position: relative;
	padding: 120px 0 60px;
	h2 {
		margin: 0 0 10px 0;
		font-size: 48px;
		font-weight: 300;
		color: $color_3;
		font-family: $font-family_2;
		span {
			color: $color_6;
		}
	}
	p {
		color: $color_10;
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: 400;
	}
	.animated {
		margin-bottom: 60px;
		animation: up-down 2s ease-in-out infinite alternate-reverse both;
	}
	.btn-get-started {
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		padding: 10px 28px;
		border-radius: 4px;
		transition: 0.5s;
		color: $color_5;
		background: var(--color-primary);
		font-family: $font-family_2;
		&:hover {
			background: rgba(var(--color-primary-rgb), 0.8);
		}
	}
	.btn-watch-video {
		font-size: 16px;
		transition: 0.5s;
		margin-left: 25px;
		font-family: $font-family_2;
		color: $color_3;
		font-weight: 600;
		i {
			color: $color_6;
			font-size: 32px;
			transition: 0.3s;
			line-height: 0;
			margin-right: 8px;
		}
		&:hover {
			color: $color_6;
			i {
				color: $color_11;
			}
		}
	}
}
.hero {
	width: 100%;
	padding: 0;
	background: var(--color-black);
	background: url("../img/hero-bg.png") center center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 140px 0 60px 0;
	.carousel-item {
		overflow: hidden;
	}
	h2 {
		color: $color_3;
		margin-bottom: 25px;
		font-size: 48px;
		font-weight: 300;
		-webkit-animation: fadeInDown 1s both 0.2s;
		animation: fadeInDown 1s both 0.2s;
	}
	p {
		color: $color_4;
		-webkit-animation: fadeInDown 1s both 0.4s;
		animation: fadeInDown 1s both 0.4s;
		font-weight: 500;
		margin-bottom: 30px;
	}
	.img {
		margin-bottom: 40px;
		-webkit-animation: fadeInDownLite 1s both;
		animation: fadeInDownLite 1s both;
	}
	.btn-get-started {
		font-family: $font-family_2;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 8px 32px;
		border-radius: 5px;
		transition: 0.5s;
		-webkit-animation: fadeInUp 1s both 0.6s;
		animation: fadeInUp 1s both 0.6s;
		color: $color_6;
		border: 2px solid var(--color-primary);
		&:hover {
			background: var(--color-primary);
			color: $color_5;
		}
	}
	.carousel-control-prev {
		justify-content: start;
		transition: 0.3s;
		&:focus {
			opacity: 0.5;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	.carousel-control-next {
		justify-content: end;
		transition: 0.3s;
		&:focus {
			opacity: 0.5;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	.carousel-control-next-icon {
		background: none;
		font-size: 26px;
		line-height: 0;
		background: rgba(var(--color-secondary-rgb), 0.4);
		color: $color_12;
		border-radius: 50px;
		width: 54px;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 3px;
	}
	.carousel-control-prev-icon {
		background: none;
		font-size: 26px;
		line-height: 0;
		background: rgba(var(--color-secondary-rgb), 0.4);
		color: $color_12;
		border-radius: 50px;
		width: 54px;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 3px;
	}
	.carousel-indicators {
		li {
			cursor: pointer;
			background: rgba(var(--color-secondary-rgb), 0.5);
			overflow: hidden;
			border: 0;
			width: 12px;
			height: 12px;
			border-radius: 50px;
			opacity: 0.6;
			transition: 0.3s;
		}
		li.active {
			opacity: 1;
			background: var(--color-primary);
		}
	}
}
.hero-fullscreen {
	width: 100%;
	min-height: 100vh;
	background: url("../img/hero-fullscreen-bg.jpg") center center;
	background-size: cover;
	position: relative;
	padding: 120px 0 60px;
	&:before {
		content: "";
		background: rgba(var(--color-white-rgb), 0.85);
		position: absolute;
		inset: 0;
	}
	h2 {
		margin: 0 0 10px 0;
		font-size: 48px;
		font-weight: 300;
		color: $color_3;
		font-family: $font-family_2;
		span {
			color: $color_6;
		}
	}
	p {
		color: $color_10;
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: 400;
	}
	.btn-get-started {
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		padding: 10px 28px;
		border-radius: 4px;
		transition: 0.5s;
		color: $color_5;
		background: var(--color-primary);
		font-family: $font-family_2;
		&:hover {
			background: rgba(var(--color-primary-rgb), 0.8);
		}
	}
	.btn-watch-video {
		font-size: 16px;
		transition: 0.5s;
		margin-left: 25px;
		font-family: $font-family_2;
		color: $color_3;
		font-weight: 600;
		i {
			color: $color_6;
			font-size: 32px;
			transition: 0.3s;
			line-height: 0;
			margin-right: 8px;
		}
		&:hover {
			color: $color_6;
			i {
				color: $color_11;
			}
		}
	}
}
.hero-static {
	width: 100%;
	min-height: 50vh;
	background: url("../img/hero-bg.png") center center;
	background-size: cover;
	position: relative;
	padding: 120px 0 60px;
	h2 {
		margin: 0 0 10px 0;
		font-size: 48px;
		font-weight: 300;
		color: $color_3;
		font-family: $font-family_2;
		span {
			color: $color_6;
		}
	}
	p {
		color: $color_10;
		margin: 0 0 30px 0;
		font-size: 20px;
		font-weight: 400;
	}
	.btn-get-started {
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		padding: 10px 28px;
		border-radius: 4px;
		transition: 0.5s;
		color: $color_5;
		background: var(--color-primary);
		font-family: $font-family_2;
		&:hover {
			background: rgba(var(--color-primary-rgb), 0.8);
		}
	}
	.btn-watch-video {
		font-size: 16px;
		transition: 0.5s;
		margin-left: 25px;
		font-family: $font-family_2;
		color: $color_3;
		font-weight: 600;
		i {
			color: $color_6;
			font-size: 32px;
			transition: 0.3s;
			line-height: 0;
			margin-right: 8px;
		}
		&:hover {
			color: $color_6;
			i {
				color: $color_11;
			}
		}
	}
}
.featured-services {
	.service-item {
		padding: 30px;
		transition: all ease-in-out 0.4s;
		background: var(--color-white);
		height: 100%;
		.icon {
			margin-bottom: 10px;
			i {
				color: $color_6;
				font-size: 36px;
				transition: 0.3s;
			}
		}
		h4 {
			font-weight: 600;
			margin-bottom: 15px;
			font-size: 24px;
			a {
				color: $color_3;
				transition: ease-in-out 0.3s;
			}
		}
		p {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);
			h4 {
				a {
					color: $color_6;
				}
			}
		}
	}
}
.about {
	.about-img {
		position: relative;
		margin: 60px 0 0 60px;
		&:before {
			position: absolute;
			inset: -60px 0 0 -60px;
			z-index: -1;
			content: "";
			background: url("../img/about-bg.png") top left;
			background-repeat: no-repeat;
		}
	}
	h3 {
		color: $color_3;
		font-family: $font-family_2;
		font-weight: 300;
		font-size: 32px;
		margin-bottom: 20px;
	}
	.nav-pills {
		border-bottom: 1px solid rgba(var(--color-secondary-rgb), 0.2);
		li+li {
			margin-left: 40px;
		}
	}
	.nav-link {
		background: none;
		font-size: 18px;
		font-weight: 400;
		color: $color_3;
		padding: 12px 0;
		margin-bottom: -2px;
		border-radius: 0;
		font-family: $font-family_2;
	}
	.nav-link.active {
		color: $color_6;
		background: none;
		border-bottom: 3px solid var(--color-primary);
	}
	.tab-content {
		h4 {
			font-size: 18px;
			margin: 0;
			font-weight: 700;
			color: $color_3;
		}
		i {
			font-size: 22px;
			line-height: 0;
			margin-right: 8px;
			color: $color_6;
		}
	}
}
.clients {
	padding: 0 0 60px 0;
	.swiper-slide {
		img {
			opacity: 0.5;
			transition: 0.3s;
			filter: grayscale(100);
			&:hover {
				filter: none;
				opacity: 1;
			}
		}
	}
}
.cta {
	padding: 0;
	margin-bottom: 60px;
	.container {
		padding: 80px;
		background: rgba(var(--color-secondary-rgb), 0.1);
		border-radius: 15px;
	}
	.content {
		h3 {
			color: $color_3;
			font-size: 48px;
			font-weight: 700;
			em {
				font-style: normal;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 10px;
					height: 10px;
					background: rgba(var(--color-primary-rgb), 0.5);
					z-index: -1;
				}
			}
		}
		p {
			color: $color_3;
			font-weight: 600;
			font-size: 18px;
		}
		.cta-btn {
			color: $color_5;
			font-weight: 500;
			font-size: 16px;
			display: inline-block;
			padding: 12px 40px;
			border-radius: 5px;
			transition: 0.5s;
			margin-top: 10px;
			background: rgba(var(--color-primary-dark-rgb), 0.9);
			&:hover {
				background: var(--color-primary);
			}
		}
	}
	.img {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			inset: 0;
			background: rgba(var(--color-white-rgb), 0.5);
			border-radius: 15px;
			transform: rotate(12deg);
		}
		&:after {
			content: "";
			position: absolute;
			inset: 0;
			background: rgba(var(--color-white-rgb), 0.9);
			border-radius: 15px;
			transform: rotate(6deg);
		}
		img {
			position: relative;
			z-index: 3;
			border-radius: 15px;
		}
	}
}
.onfocus {
	padding: 0;
	.video-play {
		min-height: 400px;
		background: linear-gradient(rgba(var(--color-black-rgb), 0.4), rgba(var(--color-black-rgb), 0.7)), url("../img/onfocus-video-bg.jpg") center center;
		background-size: cover;
	}
	.content {
		background: linear-gradient(rgba(var(--color-secondary-rgb), 0.5), rgba(var(--color-secondary-rgb), 0.8)), url("../img/onfocus-content-bg.jpg") center center;
		background-size: cover;
		color: $color_13;
		padding: 40px;
		h3 {
			font-weight: 600;
			font-size: 32px;
			color: $color_5;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				padding-bottom: 10px;
			}
			i {
				font-size: 20px;
				padding-right: 4px;
				color: $color_6;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.read-more {
			font-family: $font-family_1;
			font-weight: 500;
			font-size: 16px;
			letter-spacing: 1px;
			padding: 12px 24px;
			border-radius: 5px;
			transition: 0.3s;
			display: -nline-flex;
			align-items: center;
			justify-content: center;
			color: $color_5;
			background: var(--color-primary);
			i {
				font-size: 18px;
				margin-left: 5px;
				line-height: 0;
				transition: 0.3s;
			}
			&:hover {
				background: rgba(var(--color-primary-rgb), 0.9);
				padding-right: 19px;
				i {
					margin-left: 10px;
				}
			}
		}
	}
	.play-btn {
		width: 94px;
		height: 94px;
		background: radial-gradient(var(--color-primary) 50%, rgba(var(--color-primary-rgb), 0.4) 52%);
		border-radius: 50%;
		display: block;
		position: absolute;
		left: calc(50% - 47px);
		top: calc(50% - 47px);
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 120px;
			height: 120px;
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
			-webkit-animation: pulsate-btn 2s;
			animation: pulsate-btn 2s;
			-webkit-animation-direction: forwards;
			animation-direction: forwards;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: steps;
			animation-timing-function: steps;
			opacity: 1;
			border-radius: 50%;
			border: 5px solid rgba(var(--color-primary-rgb), 0.7);
			top: -15%;
			left: -15%;
			background: rgba(198, 16, 0, 0);
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-40%) translateY(-50%);
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 15px solid var(--color-white);
			z-index: 100;
			transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-40%) translateY(-50%);
				width: 0;
				height: 0;
				border: none;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 15px solid var(--color-white);
				z-index: 200;
				-webkit-animation: none;
				animation: none;
				border-radius: 0;
			}
			&:after {
				border-left: 15px solid var(--color-primary);
				transform: scale(20);
			}
		}
	}
}
.features {
	.nav-tabs {
		border: 0;
	}
	.nav-link {
		border: 0;
		padding: 25px 20px;
		color: $color_3;
		box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: 0s;
		cursor: pointer;
		height: 100%;
		i {
			font-size: 32px;
			line-height: 0;
		}
		h4 {
			font-size: 20px;
			font-weight: 600;
			margin: 10px 0 0 0;
			color: $color_3;
		}
		&:hover {
			color: $color_6;
		}
	}
	.nav-link.active {
		transition: 0.3s;
		background: var(--color-secondary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6));
		border-color: $border-color_1;
		h4 {
			color: $color_5;
		}
		i {
			color: $color_5 !important;
		}
	}
	.tab-content {
		margin-top: 30px;
	}
	.tab-pane.active {
		-webkit-animation: fadeIn 0.5s ease-out;
		animation: fadeIn 0.5s ease-out;
	}
	.tab-pane {
		h3 {
			font-weight: 600;
			font-size: 36px;
			color: $color_3;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				padding-bottom: 10px;
			}
			i {
				font-size: 24px;
				margin-right: 4px;
				color: $color_6;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.services {
	.img {
		border-radius: 8px;
		overflow: hidden;
		img {
			transition: 0.6s;
		}
	}
	.details {
		padding: 50px 30px;
		margin: -100px 30px 0 30px;
		transition: all ease-in-out 0.3s;
		background: var(--color-white);
		position: relative;
		background: rgba(var(--color-white-rgb), 0.9);
		text-align: center;
		border-radius: 8px;
		box-shadow: 0px 0 25px rgba(var(--color-black-rgb), 0.1);
		.icon {
			margin: 0;
			width: 72px;
			height: 72px;
			background: var(--color-primary);
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			color: $color_5;
			font-size: 28px;
			transition: ease-in-out 0.3s;
			position: absolute;
			top: -36px;
			left: calc(50% - 36px);
			border: 6px solid var(--color-white);
		}
		h3 {
			color: $color_14;
			font-weight: 700;
			margin: 10px 0 15px 0;
			font-size: 22px;
			transition: ease-in-out 0.3s;
		}
		p {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.service-item {
		&:hover {
			.details {
				h3 {
					color: $color_6;
				}
				.icon {
					background: var(--color-white);
					border: 2px solid var(--color-primary);
					i {
						color: $color_6;
					}
				}
			}
			.img {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
}
.testimonials {
	padding: 80px 0;
	background: url("../img/testimonials-bg.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(var(--color-secondary-dark-rgb), 0.8);
	}
	.section-header {
		margin-bottom: 40px;
	}
	.testimonials-carousel {
		overflow: hidden;
	}
	.testimonials-slider {
		overflow: hidden;
	}
	.testimonial-item {
		text-align: center;
		color: $color_5;
		.testimonial-img {
			width: 100px;
			border-radius: 50%;
			border: 6px solid rgba(var(--color-white-rgb), 0.15);
			margin: 0 auto;
		}
		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: $color_5;
		}
		h4 {
			font-size: 14px;
			color: $color_15;
			margin: 0 0 15px 0;
		}
		.stars {
			margin-bottom: 15px;
			i {
				color: $color_16;
				margin: 0 1px;
			}
		}
		.quote-icon-left {
			color: $color_15;
			font-size: 26px;
			line-height: 0;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: $color_15;
			font-size: 26px;
			line-height: 0;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
			transform: scale(-1, -1);
		}
		p {
			font-style: italic;
			margin: 0 auto 15px auto;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_2;
			opacity: 0.5;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_3;
			opacity: 1;
		}
	}
}
.pricing {
	background: rgba(var(--color-secondary-rgb), 0.04);
	.pricing-item {
		padding: 60px 40px;
		box-shadow: 0 3px 20px -2px rgba(var(--color-gray-rgb), 0.15);
		background: var(--color-white);
		height: 100%;
		display: flex;
		flex-direction: column;
		border: 4px solid var(--color-white);
		border-radius: 10px;
		overflow: hidden;
	}
	.pricing-header {
		background: linear-gradient(rgba(var(--color-secondary-rgb), 0.9), rgba(var(--color-secondary-rgb), 0.9)), url("../img/pricing-bg.jpg") center center;
		background-size: cover;
		text-align: center;
		padding: 40px;
		margin: -60px -40px 0;
	}
	h3 {
		font-weight: 600;
		margin-bottom: 5px;
		font-size: 36px;
		color: $color_5;
	}
	h4 {
		font-size: 48px;
		color: $color_5;
		font-weight: 400;
		font-family: $font-family_1;
		margin-bottom: 0;
		sup {
			font-size: 28px;
		}
		span {
			color: $color_15;
			font-size: 24px;
		}
	}
	ul {
		padding: 30px 0;
		list-style: none;
		color: $color_17;
		text-align: left;
		line-height: 20px;
		li {
			padding: 10px 0;
			display: flex;
			align-items: center;
		}
		i {
			color: $color_6;
			font-size: 36px;
			padding-right: 3px;
			line-height: 0;
		}
		.na {
			color: $color_18;
			i {
				color: $color_18;
				font-size: 24px;
				padding-left: 4px;
			}
			span {
				text-decoration: line-through;
			}
		}
	}
	.buy-btn {
		display: inline-block;
		padding: 12px 40px;
		border-radius: 6px;
		color: $color_6;
		transition: none;
		font-size: 16px;
		font-weight: 700;
		transition: 0.3s;
		border: 1px solid var(--color-primary);
		&:hover {
			background: var(--color-primary);
			color: $color_5;
		}
	}
	.featured {
		border-color: $border-color_1;
		.pricing-header {
			background: linear-gradient(rgba(var(--color-primary-rgb), 0.9), rgba(var(--color-primary-rgb), 0.9)), url("../img/pricing-bg.jpg") center center;
		}
		.buy-btn {
			background: var(--color-primary);
			color: $color_5;
		}
	}
}
.faq {
	.content {
		h3 {
			font-weight: 400;
			font-size: 34px;
			color: $color_3;
		}
		h4 {
			font-size: 20px;
			font-weight: 700;
			margin-top: 5px;
		}
		p {
			font-size: 15px;
			color: $color_17;
		}
	}
	.img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 400px;
	}
	.accordion-item {
		border: 0;
		margin-top: 15px;
		box-shadow: 0px 5px 25px 0px rgba(var(--color-black-rgb), 0.06);
	}
	.accordion-collapse {
		border: 0;
	}
	.accordion-button {
		padding: 15px 40px 20px 60px;
		font-weight: 600;
		border: 0;
		font-size: 18px;
		color: $color_14;
		text-align: left;
		background: var(--color-white);
		box-shadow: none;
		border-radius: 5px;
		&:not(.collapsed) {
			color: $color_6;
			border-bottom: 0;
			box-shadow: none;
		}
		&:after {
			position: absolute;
			right: 15px;
			top: 15px;
			color: $color_6;
		}
	}
	.question-icon {
		position: absolute;
		top: 14px;
		left: 25px;
		font-size: 20px;
		color: $color_6;
	}
	.accordion-body {
		padding: 0 30px 25px 60px;
		border: 0;
		border-radius: 5px;
		background: var(--color-white);
		box-shadow: none;
	}
}
.portfolio {
	.portfolio-flters {
		padding: 0;
		margin: 0 auto 30px auto;
		list-style: none;
		text-align: center;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 0;
			font-size: 18px;
			font-weight: 300;
			margin: 0 10px;
			line-height: 1;
			margin-bottom: 5px;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $color_6;
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		li.filter-active {
			color: $color_6;
		}
	}
	.portfolio-item {
		position: relative;
		border: 1px solid var(--color-white);
		overflow: hidden;
		z-index: 1;
		img {
			transition: all 0.3s;
		}
		&:before {
			content: "";
			inset: 0;
			position: absolute;
			background: rgba(var(--color-secondary-rgb), 0.8);
			z-index: 2;
			transition: 0.5s;
			visibility: hidden;
			opacity: 0;
		}
		.portfolio-info {
			opacity: 0;
			position: absolute;
			inset: auto 40px 40px 40px;
			z-index: 3;
			transition: all ease-in-out 0.3s;
			padding: 20px;
			h4 {
				font-size: 18px;
				font-weight: 600;
				color: $color_5;
				padding-right: 50px;
			}
			.preview-link {
				position: absolute;
				right: 50px;
				font-size: 24px;
				top: calc(50% - 14px);
				color: $color_9;
				transition: 0.3s;
				line-height: 0;
				&:hover {
					color: $color_5;
				}
			}
			.details-link {
				position: absolute;
				right: 50px;
				font-size: 24px;
				top: calc(50% - 14px);
				color: $color_9;
				transition: 0.3s;
				line-height: 0;
				right: 14px;
				font-size: 28px;
				&:hover {
					color: $color_5;
				}
			}
		}
		&:hover {
			&:before {
				visibility: visible;
				opacity: 1;
			}
			img {
				transform: scale(1.2);
			}
			.portfolio-info {
				opacity: 1;
				inset: auto 10px 0 10px;
			}
		}
	}
}
.team {
	.team-member {
		.member-img {
			border-radius: 8px;
			overflow: hidden;
		}
		.social {
			position: absolute;
			left: 0;
			top: -18px;
			right: 0;
			opacity: 0;
			transition: ease-in-out 0.3s;
			display: flex;
			align-items: center;
			justify-content: center;
			a {
				transition: color 0.3s;
				color: $color_5;
				background: var(--color-primary);
				margin: 0 5px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				transition: 0.3s;
				i {
					line-height: 0;
					font-size: 16px;
				}
				&:hover {
					background: var(--color-primary-light);
				}
			}
			i {
				font-size: 18px;
				margin: 0 2px;
			}
		}
		.member-info {
			padding: 30px 15px;
			text-align: center;
			box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
			background: var(--color-white);
			margin: -50px 20px 0 20px;
			position: relative;
			border-radius: 8px;
			h4 {
				font-weight: 400;
				margin-bottom: 5px;
				font-size: 24px;
				color: $color_3;
			}
			span {
				display: block;
				font-size: 16px;
				font-weight: 400;
				color: $color_17;
			}
			p {
				font-style: italic;
				font-size: 14px;
				line-height: 26px;
				color: $color_17;
			}
		}
		&:hover {
			.social {
				opacity: 1;
			}
		}
	}
}
.recent-blog-posts {
	.post-box {
		transition: 0.3s;
		height: 100%;
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		.post-img {
			overflow: hidden;
			position: relative;
			border-radius: 10px;
			img {
				transition: 0.5s;
			}
		}
		.meta {
			margin-top: 15px;
			.post-date {
				font-size: 15px;
				font-weight: 400;
				color: $color_6;
			}
			.post-author {
				font-size: 15px;
				font-weight: 400;
				color: $color_3;
			}
		}
		.post-title {
			font-size: 24px;
			color: $color_3;
			font-weight: 700;
			margin: 15px 0 0 0;
			position: relative;
			transition: 0.3s;
		}
		p {
			margin: 15px 0 0 0;
			color: $color_7;
		}
		.readmore {
			display: flex;
			align-items: center;
			font-weight: 600;
			line-height: 1;
			transition: 0.3s;
			margin-top: 15px;
			i {
				line-height: 0;
				margin-left: 4px;
				font-size: 18px;
			}
		}
		&:hover {
			.post-title {
				color: $color_6;
			}
			.post-img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}
.contact {
	.map {
		margin-bottom: 40px;
		iframe {
			border: 0;
			width: 100%;
			height: 400px;
		}
	}
	.info {
		padding: 40px;
		box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
		overflow: hidden;
		h3 {
			font-weight: 600;
			font-size: 24px;
		}
		p {
			color: $color_4;
			margin-bottom: 30px;
			font-size: 15px;
		}
	}
	.info-item+.info-item {
		padding-top: 20px;
		margin-top: 20px;
		border-top: 1px solid rgba(var(--color-secondary-rgb), 0.15);
	}
	.info-item {
		i {
			font-size: 24px;
			color: $color_6;
			transition: all 0.3s ease-in-out;
			margin-right: 20px;
		}
		h4 {
			padding: 0;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 5px;
			color: $color_3;
		}
		p {
			padding: 0;
			margin-bottom: 0;
			font-size: 14px;
			color: $color_4;
		}
	}
	.php-email-form {
		width: 100%;
		background: var(--color-white);
		.form-group {
			padding-bottom: 8px;
		}
		.error-message {
			display: none;
			color: $color_5;
			background: var(--color-red);
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br+br {
				margin-top: 25px;
			}
		}
		.sent-message {
			display: none;
			color: $color_5;
			background: var(--color-green);
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: var(--color-white);
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid var(--color-green);
				border-top-color: $border-top-color_1;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
		input[type=text] {
			border-radius: 0px;
			box-shadow: none;
			font-size: 14px;
			height: 48px;
			padding: 10px 15px;
			&:focus {
				border-color: $border-color_2;
			}
		}
		input[type=email] {
			border-radius: 0px;
			box-shadow: none;
			font-size: 14px;
			height: 48px;
			padding: 10px 15px;
			&:focus {
				border-color: $border-color_2;
			}
		}
		textarea {
			border-radius: 0px;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 12px;
			height: 290px;
			&:focus {
				border-color: $border-color_2;
			}
		}
		button[type=submit] {
			background: var(--color-primary);
			border: 0;
			padding: 13px 50px;
			color: $color_5;
			transition: 0.4s;
			border-radius: 0;
			&:hover {
				background: rgba(var(--color-primary-rgb), 0.85);
			}
		}
	}
}
.portfolio-details {
	padding-top: 40px;
	.portfolio-details-slider {
		img {
			width: 100%;
		}
		.swiper-pagination {
			margin-top: 20px;
			position: relative;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: $background-color_3;
				opacity: 1;
				border: 1px solid var(--color-primary);
			}
			.swiper-pagination-bullet-active {
				background-color: $background-color_1;
			}
		}
	}
	.portfolio-info {
		padding: 30px;
		box-shadow: 0px 0 30px rgba(var(--color-secondary-rgb), 0.15);
		h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid var(--color-secondary-light);
		}
		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
			li+li {
				margin-top: 10px;
			}
		}
	}
	.portfolio-description {
		padding-top: 30px;
		h2 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			padding: 0;
		}
	}
}
.blog {
	.posts-list {
		article {
			box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
			padding: 30px;
			height: 100%;
		}
		article+article {
			margin-top: 60px;
		}
		.post-img {
			max-height: 240px;
			margin: -30px -30px 0 -30px;
			overflow: hidden;
		}
		.title {
			font-size: 24px;
			font-weight: 700;
			padding: 0;
			margin: 20px 0 0 0;
			a {
				color: $color_3;
				transition: 0.3s;
				&:hover {
					color: $color_6;
				}
			}
		}
		.meta-top {
			margin-top: 20px;
			color: $color_17;
			ul {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				align-items: center;
				padding: 0;
				margin: 0;
				li+li {
					padding-left: 20px;
				}
			}
			i {
				font-size: 16px;
				margin-right: 8px;
				line-height: 0;
				color: $color_11;
			}
			a {
				color: $color_17;
				font-size: 14px;
				display: inline-block;
				line-height: 1;
			}
		}
		.content {
			margin-top: 20px;
		}
		.read-more {
			a {
				display: inline-block;
				background: var(--color-primary);
				color: $color_5;
				padding: 8px 30px;
				transition: 0.3s;
				font-size: 14px;
				border-radius: 4px;
				&:hover {
					background: rgba(var(--color-primary-rgb), 0.8);
				}
			}
		}
	}
	.blog-details {
		box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
		padding: 30px;
		.post-img {
			margin: -30px -30px 20px -30px;
			overflow: hidden;
		}
		.title {
			font-size: 28px;
			font-weight: 700;
			padding: 0;
			margin: 20px 0 0 0;
			color: $color_3;
		}
		.content {
			margin-top: 20px;
			h3 {
				font-size: 22px;
				margin-top: 30px;
				font-weight: bold;
			}
			blockquote {
				overflow: hidden;
				background-color: $background-color_4;
				padding: 60px;
				position: relative;
				text-align: center;
				margin: 20px 0;
				p {
					color: $color_14;
					line-height: 1.6;
					margin-bottom: 0;
					font-style: italic;
					font-weight: 500;
					font-size: 22px;
				}
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 3px;
					background-color: $background-color_5;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
		.meta-top {
			margin-top: 20px;
			color: $color_17;
			ul {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				align-items: center;
				padding: 0;
				margin: 0;
				li+li {
					padding-left: 20px;
				}
			}
			i {
				font-size: 16px;
				margin-right: 8px;
				line-height: 0;
				color: $color_11;
			}
			a {
				color: $color_17;
				font-size: 14px;
				display: inline-block;
				line-height: 1;
			}
		}
		.meta-bottom {
			padding-top: 10px;
			border-top: 1px solid rgba(var(--color-secondary-rgb), 0.15);
			i {
				color: $color_4;
				display: inline;
			}
			a {
				color: $color_10;
				transition: 0.3s;
				&:hover {
					color: $color_6;
				}
			}
			.cats {
				list-style: none;
				display: inline;
				padding: 0 20px 0 0;
				font-size: 14px;
				li {
					display: inline-block;
				}
			}
			.tags {
				list-style: none;
				display: inline;
				padding: 0;
				font-size: 14px;
				li {
					display: inline-block;
				}
				li+li {
					&::before {
						padding-right: 6px;
						color: $color_14;
						content: ",";
					}
				}
			}
			.share {
				font-size: 16px;
				i {
					padding-left: 5px;
				}
			}
		}
	}
	.post-author {
		padding: 20px;
		margin-top: 30px;
		box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
		img {
			max-width: 120px;
			margin-right: 20px;
		}
		h4 {
			font-weight: 600;
			font-size: 22px;
			margin-bottom: 0px;
			padding: 0;
			color: $color_3;
		}
		.social-links {
			margin: 0 10px 10px 0;
			a {
				color: $color_19;
				margin-right: 5px;
			}
		}
		p {
			font-style: italic;
			color: $color_20;
			margin-bottom: 0;
		}
	}
	.sidebar {
		padding: 30px;
		box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
		.sidebar-title {
			font-size: 20px;
			font-weight: 700;
			padding: 0;
			margin: 0;
			color: $color_3;
		}
		.sidebar-item+.sidebar-item {
			margin-top: 40px;
		}
		.search-form {
			form {
				background: var(--color-white);
				border: 1px solid rgba(var(--color-secondary-rgb), 0.3);
				padding: 3px 10px;
				position: relative;
				input[type=text] {
					border: 0;
					padding: 4px;
					border-radius: 4px;
					width: calc(100% - 40px);
					&:focus {
						outline: none;
					}
				}
				button {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					border: 0;
					background: none;
					font-size: 16px;
					padding: 0 15px;
					margin: -1px;
					background: var(--color-primary);
					color: $color_5;
					transition: 0.3s;
					border-radius: 0 4px 4px 0;
					line-height: 0;
					i {
						line-height: 0;
					}
					&:hover {
						background: rgba(var(--color-primary-rgb), 0.8);
					}
				}
			}
		}
		.categories {
			ul {
				list-style: none;
				padding: 0;
				li+li {
					padding-top: 10px;
				}
				a {
					color: $color_3;
					transition: 0.3s;
					&:hover {
						color: $color_14;
					}
					span {
						padding-left: 5px;
						color: $color_21;
						font-size: 14px;
					}
				}
			}
		}
		.recent-posts {
			.post-item {
				display: flex;
			}
			.post-item+.post-item {
				margin-top: 15px;
			}
			img {
				width: 80px;
				margin-right: 15px;
			}
			h4 {
				font-size: 18px;
				font-weight: 400;
				a {
					color: $color_3;
					transition: 0.3s;
					&:hover {
						color: $color_6;
					}
				}
			}
			time {
				display: block;
				font-style: italic;
				font-size: 14px;
				color: $color_21;
			}
		}
		.tags {
			margin-bottom: -10px;
			ul {
				list-style: none;
				padding: 0;
				li {
					display: inline-block;
				}
				a {
					color: $color_4;
					font-size: 14px;
					padding: 6px 14px;
					margin: 0 6px 8px 0;
					border: 1px solid rgba(var(--color-secondary-light-rgb), 0.8);
					display: inline-block;
					transition: 0.3s;
					&:hover {
						color: $color_5;
						border: 1px solid var(--color-primary);
						background: var(--color-primary);
					}
					span {
						padding-left: 5px;
						color: $color_22;
						font-size: 14px;
					}
				}
			}
		}
	}
	.comments {
		margin-top: 30px;
		.comments-count {
			font-weight: bold;
		}
		.comment {
			margin-top: 30px;
			position: relative;
			.comment-img {
				margin-right: 14px;
				img {
					width: 60px;
				}
			}
			h5 {
				font-size: 16px;
				margin-bottom: 2px;
				a {
					font-weight: bold;
					color: $color_14;
					transition: 0.3s;
					&:hover {
						color: $color_6;
					}
				}
				.reply {
					padding-left: 10px;
					color: $color_3;
					i {
						font-size: 20px;
					}
				}
			}
			time {
				display: block;
				font-size: 14px;
				color: $color_10;
				margin-bottom: 5px;
			}
		}
		.comment.comment-reply {
			padding-left: 40px;
		}
		.reply-form {
			margin-top: 30px;
			padding: 30px;
			box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
			h4 {
				font-weight: bold;
				font-size: 22px;
			}
			p {
				font-size: 14px;
			}
			input {
				border-radius: 4px;
				padding: 10px 10px;
				font-size: 14px;
				&:focus {
					box-shadow: none;
					border-color: $border-color_3;
				}
			}
			textarea {
				border-radius: 4px;
				padding: 10px 10px;
				font-size: 14px;
				&:focus {
					box-shadow: none;
					border-color: $border-color_3;
				}
			}
			.form-group {
				margin-bottom: 25px;
			}
			.btn-primary {
				border-radius: 4px;
				padding: 10px 20px;
				border: 0;
				background-color: $background-color_5;
				&:hover {
					background-color: $background-color_6;
				}
			}
		}
	}
	.blog-pagination {
		margin-top: 30px;
		color: $color_4;
		ul {
			display: flex;
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
			margin: 0 5px;
			transition: 0.3s;
			a {
				color: $color_3;
				padding: 7px 16px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&:hover {
				background: var(--color-primary);
				a {
					color: $color_5;
				}
			}
		}
		li.active {
			background: var(--color-primary);
			a {
				color: $color_5;
			}
		}
	}
}
.footer {
	color: $color_5;
	font-size: 14px;
	.footer-content {
		background: var(--color-secondary);
		padding: 60px 0 30px 0;
		.footer-info {
			margin-bottom: 30px;
			h3 {
				font-size: 28px;
				margin: 0 0 20px 0;
				padding: 2px 0 2px 0;
				line-height: 1;
				font-weight: 700;
				text-transform: uppercase;
				span {
					color: $color_6;
				}
			}
			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_1;
				color: $color_5;
			}
		}
		h4 {
			font-size: 16px;
			font-weight: 600;
			color: $color_5;
			position: relative;
			padding-bottom: 12px;
			margin-bottom: 15px;
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 20px;
				height: 2px;
				background: var(--color-primary);
				bottom: 0;
				left: 0;
			}
		}
		.footer-links {
			margin-bottom: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				i {
					padding-right: 2px;
					color: $color_5;
					font-size: 12px;
					line-height: 1;
				}
				li {
					padding: 10px 0;
					display: flex;
					align-items: center;
					&:first-child {
						padding-top: 0;
					}
				}
				a {
					color: $color_9;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;
					&:hover {
						color: $color_5;
					}
				}
			}
		}
		.footer-newsletter {
			form {
				margin-top: 30px;
				background: var(--color-white);
				padding: 6px 10px;
				position: relative;
				border-radius: 4px;
				input[type=email] {
					border: 0;
					padding: 4px;
					width: calc(100% - 110px);
					&:focus-visible {
						outline: none;
					}
				}
				input[type=submit] {
					position: absolute;
					top: 0;
					right: -2px;
					bottom: 0;
					border: 0;
					background: none;
					font-size: 16px;
					padding: 0 20px;
					background: var(--color-primary);
					color: $color_5;
					transition: 0.3s;
					border-radius: 0 4px 4px 0;
					&:hover {
						background: rgba(var(--color-primary-rgb), 0.85);
					}
				}
			}
		}
	}
	.footer-legal {
		padding: 30px 0;
		background: var(--color-secondary-dark);
		.credits {
			padding-top: 4px;
			font-size: 13px;
			color: $color_5;
			a {
				color: $color_23;
			}
		}
		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: rgba(var(--color-white-rgb), 0.1);
				color: $color_5;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 4px;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				&:hover {
					background: var(--color-primary);
					text-decoration: none;
				}
			}
		}
	}
}
@media (min-width: 1280px) {
	.section-header {
		p {
			max-width: 80%;
		}
	}
	.navbar {
		padding: 0;
		position: relative;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			align-items: center;
		}
		li {
			position: relative;
			&:hover {
				>a {
					&:before {
						visibility: visible;
						transform: scaleX(0.7);
					}
					color: $color_6;
				}
			}
		}
		>ul {
			>li {
				white-space: nowrap;
				>a {
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background-color: $background-color_1;
						visibility: hidden;
						transition: all 0.3s ease-in-out 0s;
						transform: scaleX(0);
						transition: all 0.3s ease-in-out 0s;
					}
				}
			}
		}
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 14px 20px;
			font-family: $font-family_2;
			font-size: 16px;
			font-weight: 400;
			color: $color_7;
			white-space: nowrap;
			transition: 0.3s;
			position: relative;
			&:focus {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 14px 20px;
				font-family: $font-family_2;
				font-size: 16px;
				font-weight: 400;
				color: $color_7;
				white-space: nowrap;
				transition: 0.3s;
				position: relative;
				i {
					font-size: 12px;
					line-height: 0;
					margin-left: 5px;
				}
			}
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
			&:hover {
				&:before {
					visibility: visible;
					transform: scaleX(0.7);
				}
				color: $color_6;
			}
		}
		.active {
			&:before {
				visibility: visible;
				transform: scaleX(0.7);
			}
			color: $color_6;
			&:focus {
				color: $color_6;
			}
		}
		.dropdown {
			a {
				&:hover {
					&:before {
						visibility: hidden;
					}
					color: $color_5;
					background: var(--color-secondary);
				}
			}
			&:hover {
				>a {
					&:before {
						visibility: hidden;
					}
					color: $color_5;
					background: var(--color-secondary);
				}
				>ul {
					opacity: 1;
					visibility: visible;
				}
			}
			.active {
				&:before {
					visibility: hidden;
				}
				color: $color_5;
				background: var(--color-secondary);
				&:focus {
					color: $color_5;
					background: var(--color-secondary);
				}
			}
			ul {
				display: block;
				position: absolute;
				left: 0;
				top: 100%;
				margin: 0;
				padding: 0 0 10px 0;
				z-index: 99;
				opacity: 0;
				visibility: hidden;
				background: var(--color-secondary);
				transition: 0.3s;
				li {
					min-width: 200px;
					&:hover {
						>a {
							color: $color_5;
							background: var(--color-primary);
						}
					}
				}
				a {
					padding: 10px 20px;
					font-size: 15px;
					text-transform: none;
					font-weight: 400;
					color: $color_8;
					i {
						font-size: 12px;
					}
					&:hover {
						color: $color_5;
						background: var(--color-primary);
					}
				}
				.active {
					color: $color_5;
					background: var(--color-primary);
					&:hover {
						color: $color_5;
						background: var(--color-primary);
					}
				}
			}
			.dropdown {
				ul {
					top: 0;
					left: calc(100% - 30px);
					visibility: hidden;
				}
				&:hover {
					>ul {
						opacity: 1;
						top: 0;
						left: 100%;
						visibility: visible;
					}
				}
			}
		}
		.megamenu {
			position: static;
			ul {
				right: 0;
				padding: 10px;
				display: flex;
				li {
					flex: 1;
					a {
						color: $color_8;
						background: none;
						&:hover {
							color: $color_5;
							background: var(--color-primary);
						}
					}
					&:hover {
						>a {
							color: $color_8;
							background: none;
						}
					}
					.active {
						color: $color_5;
						background: var(--color-primary);
						&:hover {
							color: $color_5;
							background: var(--color-primary);
						}
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.breadcrumbs {
		.d-flex {
			display: block !important;
		}
		h2 {
			margin-bottom: 10px;
			font-size: 24px;
		}
		ol {
			display: block;
			li {
				display: inline-block;
			}
		}
	}
	.cta {
		.container {
			padding: 60px;
		}
	}
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media (max-width: 1279px) {
	.header {
		.btn-getstarted {
			margin-right: 50px;
			&:focus {
				margin-right: 50px;
			}
		}
	}
	.navbar {
		position: fixed;
		top: 0;
		left: -100%;
		width: calc(100% - 70px);
		bottom: 0;
		transition: 0.3s;
		z-index: 9997;
		ul {
			position: absolute;
			inset: 0;
			padding: 10px 0;
			margin: 0;
			background: rgba(var(--color-secondary-rgb), 0.9);
			overflow-y: auto;
			transition: 0.3s;
			z-index: 9998;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 20px;
			font-size: 16px;
			font-weight: 500;
			color: $color_9;
			white-space: nowrap;
			transition: 0.3s;
			&:focus {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 12px 20px;
				font-size: 16px;
				font-weight: 500;
				color: $color_9;
				white-space: nowrap;
				transition: 0.3s;
				i {
					font-size: 12px;
					line-height: 0;
					margin-left: 5px;
				}
			}
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
			&:hover {
				color: $color_5;
			}
		}
		.active {
			color: $color_5;
			&:focus {
				color: $color_5;
			}
		}
		li {
			&:hover {
				>a {
					color: $color_5;
				}
			}
		}
		.dropdown {
			ul {
				position: static;
				display: none;
				padding: 10px 0;
				margin: 10px 20px;
				transition: all 0.5s ease-in-out;
				border: 1px solid rgba(var(--color-secondary-light-rgb), 0.3);
			}
			.dropdown {
				ul {
					position: static;
					display: none;
					padding: 10px 0;
					margin: 10px 20px;
					transition: all 0.5s ease-in-out;
					border: 1px solid rgba(var(--color-secondary-light-rgb), 0.3);
				}
				>.dropdown-active {
					display: block;
				}
			}
			>.dropdown-active {
				display: block;
			}
		}
	}
	.mobile-nav-toggle {
		display: block !important;
		color: $color_3;
		font-size: 28px;
		cursor: pointer;
		line-height: 0;
		transition: 0.5s;
		position: fixed;
		top: 20px;
		z-index: 9999;
		right: 20px;
	}
	.mobile-nav-toggle.bi-x {
		color: $color_5;
	}
	.mobile-nav-active {
		overflow: hidden;
		z-index: 9995;
		position: relative;
		.navbar {
			left: 0;
			&:before {
				content: "";
				position: fixed;
				inset: 0;
				background: rgba(var(--color-secondary-rgb), 0.8);
				z-index: 9996;
			}
		}
	}
}
@media (min-width: 1280px) and (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.hero-animated {
		.animated {
			max-width: 45%;
		}
	}
	.testimonials {
		.testimonial-item {
			p {
				width: 80%;
			}
		}
	}
}
@media (max-width: 991px) {
	.hero-animated {
		.animated {
			max-width: 60%;
		}
	}
	.faq {
		padding: 0;
	}
}
@media (max-width: 575px) {
	.hero-animated {
		.animated {
			max-width: 80%;
		}
	}
	.about {
		.about-img {
			margin: 30px 0 0 30px;
			&:before {
				inset: -30px 0 0 -30px;
			}
		}
		.nav-link {
			font-size: 16px;
		}
	}
	.portfolio {
		.portfolio-flters {
			li {
				font-size: 14px;
				margin: 0 5px;
			}
		}
	}
}
@media (max-width: 640px) {
	.hero-animated {
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 18px;
			margin-bottom: 30px;
		}
		.btn-get-started {
			font-size: 14px;
		}
		.btn-watch-video {
			font-size: 14px;
		}
	}
	.hero {
		.container {
			padding: 0 60px;
		}
	}
	.hero-fullscreen {
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 18px;
			margin-bottom: 30px;
		}
		.btn-get-started {
			font-size: 14px;
		}
		.btn-watch-video {
			font-size: 14px;
		}
	}
	.hero-static {
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 18px;
			margin-bottom: 30px;
		}
		.btn-get-started {
			font-size: 14px;
		}
		.btn-watch-video {
			font-size: 14px;
		}
	}
}
@media (max-width: 768px) {
	.hero {
		h2 {
			font-size: 30px;
		}
	}
	.about {
		h3 {
			font-size: 28px;
		}
	}
}
@media (min-width: 640px) {
	.hero {
		.carousel-control-prev {
			padding-left: 15px;
		}
		.carousel-control-next {
			padding-right: 15px;
		}
	}
}
@media (min-width: 1365px) {
	.hero-fullscreen {
		background-attachment: fixed;
	}
}
@media (min-width: 768px) {
	.onfocus {
		.content {
			padding: 80px;
		}
	}
}
